<div class="nested-fields">

  <div class="form-group">
    <%= f.label 'banner', :class => 'control-label col-lg-2' %>
    <div class="col-lg-8">
      <%= f.file_field :image, :class => 'form-control' %>
    </div>
    <div class="col-lg-2">
      <%= link_to_remove_association "x", f, :class => 'btn btn-block btn-danger' %>

    </div>
  </div>

</div>
