<footer class="bg-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <p class="text-center"><img src="/assets/home/img/logo/evhive_coworking.png" alt="EV Hive Coworking Space Indonesia" height="140"></p>
      </div>
      <div class="col-xs-12 col-md-5">
        <!--footer links-->
        <div class="col-md-6 col-xs-12">
          <ul class="footer-nav ptop">
            <li><%= link_to "Locations", buildings_path %></li>
            <li><a href="https://evhive.co/buildings/city">City</a></li>
            <li><a href="https://evhive.co/buildings/ev-hive-clapham">Clapham</a></li>
            <li><a href="https://evhive.co/buildings/jsc-hive">JSC Hive</a></li>
            <li><a href="https://evhive.co/buildings/dimo">Dimo</a></li>
            <li><a href="https://evhive.co/buildings/d-lab">D.LAB</a></li>
            <li><a href="https://evhive.co/buildings/the-maja">The Maja</a></li>
            <li><a href="https://evhive.co/buildings/the-breeze">The Breeze</a></li>
            <li><a href="https://evhive.co/buildings/tower-ifc">IFC</a></li>
            <li><a href="https://evhive.co/buildings/satellite-senopati">Satellite @ Senopati</a></li>
            <li><a href="https://evhive.co/buildings/satellite-scbd">Satellite @ SCBD</a></li>
            <li><a href="https://evhive.co/buildings/pt-pos">PT.POS</a></li>
            <li><a href="https://evhive.co/buildings/uptown">Uptown</a></li>
          </ul>
         
        </div>
        
        <div class="col-md-6 col-xs-12">
          <ul class="footer-nav ptop">
            <li><%= link_to "Plans", plans_path %></li>
            <li><%= link_to "Daily Pass", plans_path, :rel => 'nofollow' %></li>
            <li><%= link_to "Flexi Desk", plans_path, :rel => 'nofollow' %></li>
            <li><%= link_to "Dedicated Desk", plans_path, :rel => 'nofollow' %></li>
            <li><a href="#myModal" data-toggle="modal" data-target="#myModal">Private Office</a></li>
            <li><a href="#spaces" data-toggle="collapse" rel="nofollow">Spaces</a></li>
            <div id="spaces" class="collapse">
              <li><%= link_to 'Meeting Room', meeting_room_path %></li>
              <li><%= link_to 'Event Space', event_space_path %></li>
              <li><%= link_to 'Creative Studio', creative_studio_path %></li>
            </div>
            <li><a href="http://refer.cocowork.co" target="_blank">Referral</a></li>
            <li><a href="http://broker.cocowork.co" target="_blank">Broker</a></li>
          </ul>
          
        </div>
        <div class="col-xs-12 footer-nav-mobile">
          <div class="ptop">
          <a href="#location" data-toggle="collapse">Location</a>
            <ul id="location" class="collapse">
              <li><a href="https://evhive.co/buildings/city">City</a></li>
              <li><a href="https://evhive.co/buildings/ev-hive-clapham">Clapham</a></li>
              <li><a href="https://evhive.co/buildings/jsc-hive">JSC Hive</a></li>
              <li><a href="https://evhive.co/buildings/d-lab">D.LAB</a></li>
              <li><a href="https://evhive.co/buildings/d-lab">Dimo</a></li>
              <li><a href="https://evhive.co/buildings/the-maja">The Maja</a></li>
              <li><a href="https://evhive.co/buildings/the-breeze">The Breeze</a></li>
              <li><a href="https://evhive.co/buildings/tower-ifc">IFC</a></li>
              <li><a href="https://evhive.co/buildings/satellite-senopati">Satellite @ Senopati</a></li>
              <li><a href="https://evhive.co/buildings/satellite-scbd">Satellite @ SCBD</a></li>
              <li><a href="https://evhive.co/buildings/pt-pos">PT.POS</a></li>
              <li><a href="https://evhive.co/buildings/uptown">Uptown</a></li>
            </ul>
          </div>
          <div class="ptop">
            <a href="#plans" data-toggle="collapse">Plans</a>
            <ul id="plans" class="collapse">
              <li><%= link_to "Daily Pass", plans_path, :rel => 'nofollow' %></li>
              <li><%= link_to "Flexi Desk", plans_path, :rel => 'nofollow' %></li>
              <li><%= link_to "Dedicated Desk", plans_path, :rel => 'nofollow' %></li>
              <li><%= link_to "Private Office", plans_path, :rel => 'nofollow' %></li>
              <li><a href="#myModal" data-toggle="modal" data-target="#myModal">Private Office</a></li>
              <li><%= link_to 'Meeting Room', meeting_room_path %></li>
              <li><%= link_to 'Event Space', event_space_path %></li>
              <li><%= link_to 'Creative Studio', creative_studio_path %></li>
            </ul>
          </div>
          <div class="ptop">
            <a href="#spaces" data-toggle="collapse" rel="nofollow">Spaces</a>
            <ul id="spaces" class="collapse">
              <li><%= link_to 'Meeting Room', meeting_room_path %></li>
              <li><%= link_to 'Event Space', event_space_path %></li>
              <li><%= link_to 'Creative Studio', creative_studio_path %></li>
            </ul>
          </div>
          <div class="ptop">
            <ul>
              <li><a href="http://refer.cocowork.co" target="_blank">Referral</a></li>
              <li><a href="http://broker.cocowork.co" target="_blank">Broker</a></li>
            </ul>
          </div>
        </div>
        <!--end of links-->
      </div>

      <div class="col-xs-12 col-md-4 footerp">
        <h3>Subscribe for Updates</h3>
        <p><small>The latest news, events, and special offers from EV Hive</small></p>
        <%= render 'subscribes/form' %>
      </div>
    </div>
    
  </div>

  <div class="container-fluid sticky-foot">
    <div class="row bg-lightgrey">
      <div class="col-md-3">
        <ul class="list-inline text-center">
          <li>
            <h6><a href="tel:+6287871111880" onclick="ga('send','event','Click','Call Now');"><i class="fa fa-phone"></i>+62 8787 1111 880</a></h6>
          </li>
          <li>
            <h6><a href="mailto:info@evhive.co"><i class="fa fa-envelope-o"></i>info@evhive.co</a></h6>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-md-offset-1">
        <ul class="list-inline ptop1 text-center">
    					<li>
    						<a href="https://www.facebook.com/evhive.co/" target="_blank">
                  <img src="/assets/home/img/icon/facebook.png" width="30" alt="">
    						</a>
    					</li>
    					<li>
    						<a href="https://www.linkedin.com/company-beta/13178803/?pathWildcard=13178803" target="_blank">
                  <img src="/assets/home/img/icon/linkedin.png" width="30" alt="">
    						</a>
    					</li>
    					<li>
    						<a href="https://www.instagram.com/evhive/?hl=en" target="_blank">
                  <img src="/assets/home/img/icon/instagram.png" width="30" alt="">
    						</a>
    					</li>
              <li>
    						<a data-toggle="tooltip" data-placement="top" title="+62 878-7111-1880">
                  <img src="/assets/home/img/icon/whatsapp.png" width="20" alt="">
    						</a>
    					</li>
              <li>
    						<a data-toggle="tooltip" data-placement="top" title="@evhive">
                  <img src="/assets/home/img/icon/line.png" width="20" alt="">
    						</a>
    					</li>
    				</ul>
      </div>

      <div class="col-md-3">
        <p class="text-center" style="font-size:12px; margin:10px 0">&copy; Copyright <script>document.write(new Date().getFullYear())</script> EV Hive Coworking Space Jakarta</p>
      </div>
    </div>
  </div>

</footer>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Contact Us</h4>
      </div>
      <div class="modal-body">
        <%= render 'enquiries/form' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').on("click",function(e){
      e.preventDefault();

      $(this).tooltip("show");
    });
});
</script>
