<%= form_for [:managers,@evhive_class], :html => { :class => "form-horizontal event", multipart: true  } do |f| %>
  <% if @evhive_class.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@evhive_class.errors.count, "error") %> prohibited this event from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @evhive_class.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-md-4 col-xs-12">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>

  <div class="form-group">
    <%= f.label :image, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.file_field :image, :class => 'form-control' %>
    </div>
    <%=f.error_span(:image) %>
  </div>

  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-md-8 col-xs-12">
      <%= f.cktext_area :description, :class => 'form-control' %>
    </div>
    <%=f.error_span(:description) %>
  </div>

  <div class="form-group">
    <%= f.label :get,"What Student Learn", :class => 'control-label col-lg-2' %>
    <div class="col-md-8 col-xs-12">
      <%= f.cktext_area :get, :class => 'form-control' %>
    </div>
    <%=f.error_span(:get) %>
  </div>

  <div class="form-group">
    <%= f.label :need, "What Student Need", :class => 'control-label col-lg-2' %>
    <div class="col-md-8 col-xs-12">
      <%= f.cktext_area :need, :class => 'form-control' %>
    </div>
    <%=f.error_span(:need) %>
  </div>

  <div class="form-group">
    <%= f.label :instructor, :class => 'control-label col-lg-2' %>
    <div class="col-md-4 col-xs-12">
      <%= f.text_field :instructor, :class => 'form-control' %>
    </div>
    <%=f.error_span(:instructor) %>
  </div>

  <div class="form-group">
    <%= f.label :price, :class => 'control-label col-lg-2' %>
    <div class="col-md-4 col-xs-12">
      <%= f.cktext_area :price, :class => 'form-control' %>
    </div>
    <%=f.error_span(:price) %>
  </div>

  <div class="form-group">
    <%= f.label :agenda, :class => 'control-label col-lg-2' %>
    <div class="col-md-4 col-xs-12">
      <%= f.cktext_area :agenda, :class => 'form-control' %>
    </div>
    <%=f.error_span(:agenda) %>
  </div>

  <div class="form-group">
    <%= f.label :included, "Price Included", :class => 'control-label col-lg-2' %>
    <div class="col-md-4 col-xs-12">
      <%= f.text_field :included, :class => 'form-control' %>
    </div>
    <%=f.error_span(:included) %>
  </div>

  <div class="form-group">
    <%= f.label :location, :class => 'control-label col-lg-2' %>
    <div class="col-md-4 col-xs-12">
      <%= f.text_field :location, :class => 'form-control' %>
    </div>
    <%=f.error_span(:location) %>
  </div>

  <div class="form-group">
    <%= f.label :partner, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select :partner_id, Partner.all ,:id,:name, {:class => 'form-control'} %>
    </div>
    <%=f.error_span(:partner_id) %>
  </div>

  <div class="form-group">
    <%= f.label :category, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select :category_id, Category.all ,:id,:name, {:class => 'form-control'} %>
    </div>
    <%=f.error_span(:category_id) %>
  </div>

  <div class="form-group">
    <%= f.label :link, :class => 'control-label col-lg-2' %>
    <div class="col-md-4 col-xs-12">
      <%= f.text_field :link, :class => 'form-control' %>
    </div>
    <%=f.error_span(:link) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-md-4">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                managers_evhive_classes_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
