<div class="container ptop">
  <p class="text-center ptop"><img src="/assets/home/img/classes/evhiveschoolpreneur.png" alt="EV Hive Schoolpreneur" width="250"></p>
</div>
<div class="container pbottom">
  <div class="col-md-8 col-md-offset-2">
    <h3 class="text-center">What is EV Hive Schoolpreneur?</h3>
    <p class="text-center pbottom">EV Hive is honored and welcome all partners that are willing to open their classes at EV Hive. We will provide space for free to our EV Hive Class partners.</p>
    <img src="/assets/home/img/classes/Event3.jpg" class="img-responsive" alt="">
  </div>
</div>
<div class="container-fluid ptop pbottom bg-light-grey">
  <div class="container">
    <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">Your Advantages</h3>

      <div class="col-md-4 ptop">
        <p class="text-center"><i class="fa fa-globe fa-3x font-blue"></i></p>
        <h5 class="text-center">Network</h5>
        <p class="text-center">Get to know people that share the same passion with you.</p>
      </div>

      <div class="col-md-4 ptop">
        <p class="text-center"><i class="fa fa-line-chart fa-3x font-blue"></i></p>
        <h5 class="text-center">Knowledge</h5>
        <p class="text-center">Get insights nowhere to be found.</p>
      </div>

      <div class="col-md-4 ptop">
        <p class="text-center"><i class="fa fa-users fa-3x font-blue"></i></p>
        <h5 class="text-center">Connected</h5>
        <p class="text-center">Connect with our EV Hive partners and members.</p>
      </div>

      <div class="clearfix"></div>
      <div class="col-md-4 col-md-push-2 ptop">
        <p class="text-center"><i class="fa fa-building fa-3x font-blue"></i></p>
        <h5 class="text-center">Locations</h5>
        <p class="text-center">Be in one of the coziest co-working place.</p>
      </div>

      <div class="col-md-4 col-md-push-2 ptop">
        <p class="text-center"><i class="fa fa-beer fa-3x font-blue"></i></p>
        <h5 class="text-center">Drinks</h5>
        <p class="text-center">Free flow of water, coffee, tea, and energy drinks.</p>
      </div>
    </div>
    
  </div>
  </div>
  
</div>

<div class="container pbottom">
  <h3 class="text-center pbottom">Our Classes</h3>
  <div class="row">
    <% @categories.each do|category|%>
    <div class="col-md-4 classes">
      <%= link_to category_path(category) do%>
      <div class="thumbnail">
        <div class="caption">
          <h5><%= category.name %></h5>
        </div>
      </div>
      <% end %>
    </div>
  <%end%>
  </div>
  
</div>