<%= form_for(@evhive_connect) do |f| %>
  <% if @evhive_connect.errors.any? %>
    <div id="error_explanation" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@evhive_connect.errors.count, "error") %> prohibited this event from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @evhive_connect.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="col-md-10 col-md-offset-1 pbottom">
    <div class="form-group">
      <%= f.label :name, :class => "control-label col-md-12" %>
      <div class="col-md-12 col-xs-12">
        <%= f.text_field :name, :class => "form-control" %>
      </div>
    </div>
  </div>

  <div class="col-md-10 col-md-offset-1 pbottom">
    <div class="form-group">
      <%= f.label :email, :class => "control-label col-md-12" %>
      <div class="col-md-12 col-xs-12">
        <%= f.text_field :email, :class => "form-control" %>
      </div>
    </div>
  </div>
  
  <div class="col-md-10 col-md-offset-1 pbottom">
    <div class="form-group">
      <%= f.label :startup,"Startup Industry", :class => "control-label col-md-12" %>
      <div class="col-md-12 col-xs-12">
        <%= f.text_field :startup, :class => "form-control" %>
      </div>
    </div>
  </div>
  
  <div class="col-md-10 col-md-offset-1 pbottom">
    <div class="form-group">
      <%= f.label :need, "Needs", :class => "control-label col-md-12" %>
      <div class="col-md-12 col-xs-12 selection-wrapper">
        <%= f.select(:need,['Legal','Accounting','Human Resources',"Tech Community","Payment Gateway","Innovators","Infrastructure"],{}, {:class => "form-control"}) %>
      </div>
    </div>
  </div>
  
  <div class="col-md-10 col-md-offset-1">
    <div class="form-group">
      <div class="col-md-12 col-xs-12">
        <%= f.submit "Submit", :class => 'btn btn-success' %>
      </div>
    </div>
  </div>
  
<% end %>
