<%= form_for [:managers,@author], :html => { :class => "form-horizontal event", multipart: true  } do |f| %>
  <% if @author.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@author.errors.count, "error") %> prohibited this event from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @author.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-md-4 col-xs-12">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>

  <div class="form-group">
    <%= f.label :email, :class => 'control-label col-lg-2' %>
    <div class="col-md-4 col-xs-12">
      <%= f.email_field :email, :class => 'form-control' %>
    </div>
    <%=f.error_span(:email) %>
  </div>

  <div class="form-group">
    <%= f.label :about, :class => 'control-label col-lg-2' %>
    <div class="col-md-4 col-xs-12">
      <%= f.cktext_area :about, :class => 'form-control' %>
    </div>
    <%=f.error_span(:about) %>
  </div>

  <div class="form-group">
    <%= f.label :avatar, :class => 'control-label col-lg-2' %>
    <div class="col-md-4 col-xs-12">
      <%= f.file_field :avatar, :class => 'form-control' %>
    </div>
    <%=f.error_span(:avatar) %>
  </div>


  <div class="form-group">
    <div class="col-lg-offset-2 col-md-4">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                managers_authors_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
