<div class="container-fluid">
  <div class="row">
    <table class="table">
      <tr>
        <th>user</th>
        <th>start</th>
        <th>end</th>
      </tr>
      <% @books.each do |book| %>
      <tr>
        <td> <%= book.user.fullname %> </td>
        <td> <%= book.start %> </td>
        <td> <%= book.end %> </td>
      </tr>
      <% end %>
    </table>

  </div>
</div>
