<%= form_for @schedule, :html => { :class => "form-horizontal schedule" } do |f| %>

  <% if @schedule.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @schedule.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :start, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :start_time, :class => 'form-control start', :required => true %>
    </div>
    <%=f.error_span(:start_time) %>
  </div>
  <div class="form-group">
    <%= f.label :end_time, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :end_time, :class => 'form-control end', :required => true %>
    </div>
    <%=f.error_span(:end_time) %>
  </div>
  <div class="form-group" style="display:none">
    <%= f.label :room_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :room_id, :class => 'form-control', :value => params[:room_id] %>
    </div>
    <%=f.error_span(:room_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                schedules_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>

<script>
  $('.start').datetimepicker({
    inline:true,
    allowBlank: true,
    require:true
  });
  $('.end').datetimepicker({
    inline:true,
    allowBlank: true,
    require:true
  });
</script>
