<div class="container ptop m20">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-<% if @schedules.room_checker == 0%>success<% else %>danger<% end %>">
        <div class="panel-heading">
          <h3 class="text-center"><% if @schedules.room_checker == 0%>Available<% else %>Unavailable<% end %></h3>
        </div>
        <div class="panel-body" >
          <p class="text-center s28b"><%= @room.name %></p>
          <hr>
          <% if @schedules.room_checker == 0%>
          <p class="text-center">Room Available for booking</p>
          <%= link_to "Book", new_schedule_path(:room_id => @room),:class => "btn btn-success btn-block" %>

          <% else %>
          <p class="text-center">Room currently in used</p>
          <% end %>
        </div>

      </div>

    </div>
    <div class="col-md-6">
      <h4>  </h4>
      <div id="calendar"></div>
    </div>
  </div>
</div>
<script type="text/javascript">
   $("#calendar").fullCalendar({
        header:{
         left: 'prev,next today',
        center: 'title',
        right: 'month,agendaDay,listDay',
    },
    eventSources:[
      {url:'/schedules/detail/<%= @room.id %>.json'}
    ]
    });
    $(document).ready(function() {
      $('#mybooking').dataTable();
    });
</script>
