<div class="container ptop m20">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h4>Booking Information</h4>
        </div>
        <div class="panel-body">
          <table class="table">
            <tr>
              <th></th><th>info</th>
            </tr>
            <tr>
              <td><b>Name</b></td><td><%= @schedule.user.fullname %></td>
            </tr>
            <tr>
              <td><b>Start</b></td><td><%= @schedule.start_time.strftime('%d-%m-%Y %H:%M') %></td>
            </tr>
            <tr>
              <td><b>End</b></td><td><%= @schedule.end_time.strftime('%d-%m-%Y %H:%M') %></td>
            </tr>
            <tr>
              <td><b>Room</b></td><td><%= @schedule.room.name %></td>
            </tr>
            <tr>
              <td><b>Building</b></td><td><%= @schedule.room.building.name %></td>
            </tr>
            <tr>
              <td><b>Duration</b></td><td><%= @schedule.duration %> Hours</td>
            </tr>
          </table>
          <%= link_to t('.back', :default => t("helpers.links.back")),
                        schedules_path, :class => 'btn btn-default'  %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_schedule_path(@schedule), :class => 'btn btn-default' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        schedule_path(@schedule),
                        :method => 'delete',
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-danger' %>
        </div>
      </div>
    </div>
  </div>
</div>
