<%= content_for(:title, "Coworking Space in Jakarta, Indonesia - Affordable Office Room | EV Hive") %>
<%= content_for(:meta_description, "A Perfect Coworking Space in Jakarta & Tangerang | Shared Desk | Starting Rp 50.000/day | Private Office | Meeting Room | Event Space | Community | Book Now!") %>

<%# <section>
  <div id="promoModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        
        
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <a href="https://a.pgtb.me/hvRNsp" target="_blank">
            <img src="/assets/home/img/promo/EVHIVE DIGITAL PROMO MAY 1080x1080.jpg" alt="EVHIVE-DIGITAL-PROMO-MAY-2018" width="100%" height="auto">
          </a>
          
        </div>
        
      </div>

    </div>
  </div>
</section> %>

<section>
  <div class="jumbotron bg1">
    <div class="container">
      <div class="col-md-6 col-xs-10 heading">
        <h1 class="text-left title-header">Begin Now</h1>
        <p class="text-left"><hr class="line-left"></p>
        <p class="text-justify lead sub-header">
          Offices without cubicles and workspaces with no walls; A coworking space in Jakarta & Medan, Indonesia, where you can work to the beat of your own drums, be surrounded by inspiration and network with the best.
        </p>
        <%# <%= link_to "Book Now", plans_path, :class => "btn btn1 btn-lg btn-cta", :onclick => "ga('send','event','Click','Book Now');"%>
        <a href="https://cohive.space" class="btn btn1 btn-lg btn-cta" ><i class="fa fa-globe"></i></span> Go to CoHive</a>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid no-gutter">
    <img src="/assets/home/img/header/Happening.png" alt="Whats Happening in Coworking Space" width="100%">
  </div>
  <div class="container-fluid">
    <!--events start-->
    <div class="row">
      <%= render "event" %>
      
    </div>
    
  <!--event ends-->
</section>

<section>
  <div class="container-fluid">
    <img src="/assets/home/img/header/why_cowork1.png" alt="" style="width:100%">
  </div>

  <!--Desktop Version-->
  <div class="row bg-grey wrapper-scroll">
    <!--Value-->
    <div class="col-md-6 font-white" id="value">
      <div id="val">
        <div class="text-center">
          <img src="/assets/home/img/icon/value.png" height="60">
          <h2 class="title-header">One fits all</h2>
          <hr class="line">
        </div>
        <p class="text-justify">
          A coworking space in Indonesia, especially Jakarta & Medan, with a one price solution for all your necessities: meeting rooms, fiber-optic internet, printing and freeflow gourmet coffee. Affordable, convenient, professional. Hassle-free coworking spaces in Jakarta that offers you the flexibility you need. With futuristic workspaces that boosts your productivity, inspiration is a blink away. 
        </p>
        <p class="text-center p15">Why pay extra when you can pay less for more?</p>
        <p class="text-center ptop"><%= link_to "Book Now", plans_path, :class => "btn btn1", :onclick => "ga('send','event','Click','Book Now');"%></p>
      </div>

      <!--future-->
      <div id="fut">
        <div class="text-center">
          <img src="/assets/home/img/icon/the_future.png" height="60">
          <h2 class="title-header">Work hard, play hard..</h2>
          <hr class="line">
        </div>
        <p class="text-justify">
          Work hard or play hard? Why not both? Attend self-enriching events, drive company growth and all while checking out cool new working space innovations. Finish that report while lazing in our sleeping pod or make that call while going around the office on a hoverboard.
        </p>
        <p class="text-center p15">Welcome to the future of coworking.</p>
        <p class="text-center ptop"><%= link_to "Book Now", plans_path, :class => "btn btn1", :onclick => "ga('send','event','Click','Book Now');"%></p>
      </div>

      <!--network-->
      <div id="net">
        <div class="text-center">
          <img src="/assets/home/img/icon/network.png" height="60">
          <h2 class="title-header">Rub Elbows</h2>
          <hr class="line">
        </div>
        <p class="text-justify">
          Network with the best, collaborate with the rest. Meet other innovators who share the same passion. Make friends over a game of pool, ping-pong or FIFA. Everything great starts with a simple connection. 
        </p>
        <p class="text-center"><%= link_to "Book Now", plans_path, :class => "btn btn1", :onclick => "ga('send','event','Click','Book Now');"%></p>
      </div>
      <!--end-->
    </div>

    <div class="col-md-6 no-gutter scrollable">
      <div class="row scroll-image-wrapper" id="val-img">
        <img src="/assets/home/img/all/value.jpg" alt="An Affordable Coworking Space in Jakarta" height="300" width="100%">
        <div class="overlay-item">
          <div class="bottom-right">
           <h3 class="overlay-text title-header text-right">Great Value</h3>
            <hr class="line-right"> 
          </div>  
        </div>
      </div>
      <div class="row scroll-image-wrapper" id="fut-img">
        <img src="/assets/home/img/all/social.jpg" alt="Coworking Space in Jakarta With Social Benefit" height="300" width="100%">
        <div class="overlay-item">
          <div class="bottom-right">
            <h3 class="overlay-text title-header text-right">Coworking Space Is The Future</h3>
            <hr class="line-right">
          </div>
        </div>
      </div>
      <div class="row scroll-image-wrapper" id="net-img">
        <img src="/assets/home/img/all/network.jpg" alt="Coworking Space in Indonesia With Networking Benefit" style="width:100%;height:300px;">
        <div class="overlay-item">
          <div class="bottom-right">
            <h3 class="overlay-text title-header text-right">Network</h3>
            <hr class="line-right">
          </div>  
        </div>
      </div>
      <a href="#val-img" class="btn-up"><i class="fa fa-angle-up fa-2x font-white"></i></a>
      <a href="#net-img" class="btn-down"><i class="fa fa-angle-down fa-2x font-white"></i></a>
    </div>
  </div>

  <!--Mobile version-->
  <div class="row bg-grey cowork-mobile">
    <div class="owl-carousel owl-theme cowork-slider">
      <!--item 1-->
      <div class="item font-white">
        <div class="text-center">
          <img src="/assets/home/img/icon/value.png" height="60">
          <h2 class="title-header">One fits all</h2>
          <hr class="line">
        </div>
        <p class="text-justify">
          A coworking space in Indonesia, especially Jakarta, with a one price solution for all your necessities: meeting rooms, fiber-optic internet, printing and freeflow gourmet coffee. Affordable, convenient, professional. Hassle-free coworking spaces in Jakarta that offers you the flexibility you need. With futuristic workspaces that boosts your productivity, inspiration is a blink away. 
        </p>
        <p class="text-center p15">Why pay extra when you can pay less for more?</p>
        <p class="text-center ptop"><%= link_to "Book Now", plans_path, :class => "btn btn1", :onclick => "ga('send','event','Click','Book Now');"%></p>
      </div>
        
      <!--item 2-->
      <div class="item font-white">
        <div class="text-center">
          <img src="/assets/home/img/icon/the_future.png" height="60">
          <h2 class="title-header">Work hard, play hard..</h2>
          <hr class="line">
        </div>
        <p class="text-justify">
          Work hard or play hard? Why not both? Attend self-enriching events, drive company growth and all while checking out cool new working space innovations. Finish that report while lazing in our sleeping pod or make that call while going around the office on a hoverboard.
        </p>
        <p class="text-center p15">Welcome to the future of coworking.</p>
        <p class="text-center ptop"><%= link_to "Book Now", plans_path, :class => "btn btn1", :onclick => "ga('send','event','Click','Book Now');"%></p>
      </div>

      <!--item 3-->
      <div class="item font-white">
        <div class="text-center">
          <img src="/assets/home/img/icon/network.png" height="60">
          <h2 class="title-header">Rub Elbows</h2>
          <hr class="line">
        </div>
        <p class="text-justify">
          Network with the best, collaborate with the rest. Meet other innovators who share the same passion. Make friends over a game of pool, ping-pong or FIFA. Everything great starts with a simple connection. 
        </p>
        <p class="text-center"><%= link_to "Book Now", plans_path, :class => "btn btn1", :onclick => "ga('send','event','Click','Book Now');"%></p>
      </div>

    </div>
  </div>
</section>

<section>
  <div class="container-fluid">
    <img src="/assets/home/img/header/whyevhive.png" alt="" style="width:100%">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <div class="blurb">
          <p class="text-center"><img src="/assets/home/img/icon/transparent.png" height="60"></p>
          <h3 class="text-center title-header">Transparent</h3>
          <hr class="line line-black">
          <p class="text-center">We believe trust is the foundation of a great teamwork. At our space, transparancy is encouraged wherever applicable. Surround yourself with a valuable environment to foster a team stronger than ever. </p>
        </div>
      </div>

      <div class="col-md-4 col-xs-12">
        <div class="blurb">
          <p class="text-center"><img src="/assets/home/img/icon/the_best.png" height="60"></p>
          <h3 class="text-center title-header">Best of The Best</h3>
          <hr class="line line-black">
          <p class="text-center">The fastest growing coworking space in Indonesia. With facilities that can maximize a member’s productivity, we are where collaboration matters and networking starts.</p>
        </div>
      </div>

      <div class="col-md-4 col-xs-12">
        <div class="blurb">
          <p class="text-center"><img src="/assets/home/img/icon/ecosystem.png" height="60"></p>
          <h3 class="text-center title-header">Ecosystem</h3>
          <hr class="line line-black">
          <p class="text-center">Fully supports Indonesia’s startup ecosystem. We provide private offices, meeting rooms and event spaces to support day-to-day business activities.</p> 
        </div>
      </div>

    </div>
  </div>
</section>

<script type="text/javascript">
  $(document).ready(function(){
    $(window).on("load",function(){
      $("#promoModal").modal("show");
    });

    $(".event-slider").owlCarousel({
      itemsDesktop : [1199,4],
      itemsDesktopSmall : [980,3],
      itemsTablet: [768,2],
      itemsTabletSmall: false,
      itemsMobile : [479,1],
      autoPlay:5000,
      items:3,
      navigation:false,
      pagination:true,
    });

    $(".cowork-slider").owlCarousel({
      singleItem:true,
      margin:0,
      autoHeight:false,
      navigation:false,
      pagination:true
    });

    

    $("#fut-img").on("mouseover",function(){
      $("#val").css("display","none");
      $("#net").css("display","none");
      $("#fut").fadeIn("slow");
    });

    $("#val-img").on("mouseover",function(){
      $("#fut").css("display","none");
      $("#net").css("display","none");
      $("#val").fadeIn("slow");
    });

    $("#net-img").on("mouseover",function(){
      $("#fut").css("display","none");
      $("#val").css("display","none");
      $("#net").fadeIn("slow");
    });

    $(".btn-down").on("click",function(){
      $(".btn-up").show();
      $(this).hide();
    });
    $(".btn-up").on("click",function(){
      $(".btn-down").show();
      $(this).hide();
    });

  });

</script>

<script async type="text/javascript">
  $(document).ready(function(){
    var animationEnd = "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend";
    // $(".btn-cta").on("mouseenter",function(){
    //   $(this).addClass("animated bounce").one(animationEnd,function(){
    //     $(this).removeClass("animated bounce");
    //   });
    // });

    $(".other .container").css("opacity",0);
    $(".other .container").waypoint(function(){
      $(".other .container").addClass("animated fadeInUp");
    },{offset:'70%'});

    /*$("#event .container").css("opacity",0);*/
    $("#event .container").waypoint(function(){
      $("#event .events").addClass("animated fadeInLeft");
    },{offset:'70%'});

    $(".gallery-item").css("opacity",0);
    $("#gallery .container").css("opacity",0);
    $("#gallery").waypoint(function(){
      $(".gallery-item").addClass("animated fadeInLeft");
      $("#gallery .container").addClass("animated fadeInRight");
    },{offset:"50%"});
    // $(window).scroll(function(){
    //   if($(window).scrollTop() > 0){
    //     $("nav").css("background-color","white");
    //   }else{
    //     $("nav").css("background-color","transparent");
    //   }
    //
    // });
  });

</script>
