<div class="jumbotron bg-team">
  <div class="centerer">
    <h2 class="text-center">Student Ambassador</h2>
    <br>
    <p class="lead text-center">
      EV Hive is looking for Student Ambassador who are social media savvy, one of the best in their school, demonstrate positive attitude and willing to help startups to grow!
      If you consider yourself as a leader, adventurer, and one of the best in your school, then this position fits you.
    </p>
    <div class="text-center">
      <a href="https://docs.google.com/a/evhive.co/forms/d/e/1FAIpQLSfim5cfAHA4hpr6g8wB_Y_dVK29UR2RjUnb8hhvtBaOpfMRCw/viewform" class="btn btn1 btn-lg" target="_blank">Apply Now</a>
    </div>
    
  </div>
</div>

<section>
  <div class="container">
    <div class="row">
      <h3 class="text-center">About EV Hive</h3>
      <div class="col-md-10 col-md-offset-1">  
        <p class="text-justify">EV Hive is a VC backed coworking space in Indonesia that promotes knowledge sharing and community building as its core value. We invite you to grow your startup with us. EV Hive allows you to thrive as an exceptional base for collaboration and innovation supported by like-minded people. At EV Hive, you can learn from coworkers at various business stages by connecting with the community. Participate in our events ranging from panel discussions, workshops, one-on-one mentor sessions to networking nights for free. We aim to be the catalyst to your success. Our community managers will kindly assist in finding your potential partners within the desired field. Additionally, East Ventures has multiple portfolios that will help your startup infrastructure building in setting up legal, human resources and financial systems. Explore the potential professionals around the space and get ready to be inspired.</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <h3 class="text-center pbottom1">What Makes Us Different?</h3>
      <div class="col-md-10 col-md-offset-1">
        <h5>We're not just a space, we're community!</h5>
        <p class="text-justify">Unlike any other coworking space, we embrace the value of community. This empower our members and partners to grow and support each other. We empower our community to share their technologies, knowledges, and ideas by providing them events and meetup session leveraging our space and help local and international startups grow their business.</p>
        <h5>Our members and partners are communities.</h5>
        <p class="text-justify">We love to connect all our members and partners to collaborate. There are companies and individuals with various skills, technology, and services gathered within our community.</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid">
    <div class="row">
      <h3 class="text-center">Our Location</h3>
      <div class="col-md-10 col-md-offset-1">
        <div class="col-md-4 col-xs-6 pbottom">
          <div class="location-item">
            <img src="/assets/home/img/landing/3.png" alt="The Maja" class="location-img img-responsive">
            <div class="overlay-item">
              <div class="overlay-text">
                <p>The Maja</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-xs-6 pbottom">
          <div class="location-item">
            <img src="/assets/home/img/landing/2.png" alt="The Breeze" class="location-img img-responsive">
            <div class="overlay-item">
              <div class="overlay-text">
                <p>The Breeze</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-xs-6 pbottom">
          <div class="location-item">
            <img src="/assets/home/img/landing/3.png" alt="JSC Hive" class="location-img img-responsive">
            <div class="overlay-item">
              <div class="overlay-text">
                <p>JSC Hive</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-xs-6 pbottom">
          <div class="location-item">
            <img src="/assets/home/img/dlab2.jpg" alt="EV Hive D.Lab" class="location-img img-responsive">
            <div class="overlay-item">
              <div class="overlay-text">
                <p>D.Lab</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-xs-6 pbottom">
          <div class="location-item">
            <img src="/assets/home/img/landing/4.png" alt="International Finance Center" class="location-img img-responsive">
            <div class="overlay-item">
              <div class="overlay-text">
                <p>IFC</p>
                <p>Coming Soon</p>
              </div>
            </div>
          </div>
        </div>
        <!--<ul class="list-inline text-center">
          <li class="location-item">
            <img src="/assets/home/img/landing/3.png" alt="the maja" class="location-img img-responsive">
            <div class="overlay-item">
              <div class="overlay-text">
                <p>The Maja</p>
              </div>
            </div>
          </li>
          <li class="location-item">
            <img src="/assets/home/img/landing/2.png" alt="the breeze" class="location-img img-responsive">
            <div class="overlay-item">
              <div class="overlay-text">
                <p>The Breeze</p>
              </div>
            </div>
          </li>
          <li class="location-item">
            <img src="/assets/home/img/landing/3.png" alt="jsc hive" class="location-img img-responsive">
            <div class="overlay-item">
              <div class="overlay-text">
                <p>JSC Hive</p>
              </div>
            </div>
          </li>
          <li class="location-item">
            <img src="/assets/home/img/dlab2.jpg" alt="EV Hive D.Lab" class="location-img img-responsive">
            <div class="overlay-item">
              <div class="overlay-text">
                <p>EV Hive D.Lab</p>
              </div>
            </div>
          </li>
          <li class="location-item">
            <img src="/assets/home/img/landing/4.png" alt="International Finance Center" class="location-img">
            <div class="overlay-item">
              <div class="overlay-text">
                <p>International Finance Center</p>
                <p>Coming Soon</p>
              </div>
            </div>
          </li>
        </ul>-->
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h3 class="text-center">What is EV Hive Connect?</h3>
        <p class="text-center"><img src="/assets/home/img/connect/evhiveconnect.png" alt="ev hive connect"></p>
        <p class="text-justify">As you can see, we want to connect our members to every aspect they needed. Which mean, we want to empower. But, to do that, we need your help. We need a talented student ambassador</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h3 class="text-center">We Need You.</h3>
        <p class="text-justify">The Student Ambassador Program is initiated to involve students directly in our business. We will introduce students to the real work environment. Student Ambassadors will receive training from the EV Hive team. Student Ambassadors will be able to develop their leadership skills and technical skills that they had learn at campus.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h5>Key Responsibilities and Duties</h5>
        <ul>
          <li>
            <p>Willing to be EV Hive Ambassador for 6 months.</p>
          </li>
          <li>
            <p>Willing to promote EV Hive through personal social media.</p>
          </li>
          <li>
            <p>Help startups by listening to their problems and connecting them to our partners.</p>
          </li>
          <li>
            <p>Create, develop, and execute projects to promote EV Hive at your university and other places*</p>
          </li>
          <li>
            <p>Engage fellow students in a creative way, inspire and motive them to be a part of EV Hive’s student ambassador.</p>
          </li>
          <li>
            <p>Represent EV Hive in university community by promoting our events, classes, and workshops.</p>
          </li>
          <li>
            <p>Being part of an unforgettable winter camp committee.</p>
          </li>
        </ul>
      </div>
    </div>
        <!--<ul>
          <li><i class="fa fa-users fa-2x"></i> Be part of EV Hive’s Family</li>
          <li><i class="fa fa-ticket fa-2x"></i> Free daily passes for you and friends* </li>
          <li><i class="fa fa-book fa-2x"></i> Learn about startup ecosystem</li>
          <li><i class="fa fa-binoculars fa-2x"></i> Getting exposure on startup industry</li>
          <li><i class="fa fa-handshake-o fa-2x"></i> Mentorship from EV Hive team</li>
          <li><i class="fa fa-diamond fa-2x"></i> Soft skill training</li>
          <li><i class="fa fa-snowflake-o fa-2x"></i> Winter Camp*</li>
        </ul>-->
      </div>
    </div>
  </div>
</section>

<section>
<div class="row">
  <h3 class="text-center pbottom">Benefits</h3>
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-6 col-xs-12 pbottom">
      <div class="col-md-2 col-xs-2">
         <i class="fa fa-users fa-3x font-orange"></i>
       </div>
       <div class="col-md-9 col-xs-10">
        <p>Be part of EV Hive’s Family</p>
       </div>
    </div>

     <div class="col-md-6 col-xs-12 pbottom">
      <div class="col-md-2 col-xs-2">
         <i class="fa fa-ticket fa-3x font-orange"></i>
      </div>
      <div class="col-md-9 col-xs-10">
        <p>Free daily passes for you and friends*</p>
       </div>
    </div>

    <div class="col-md-6 col-xs-12 pbottom">
      <div class="col-md-2 col-xs-2">
         <i class="fa fa-book fa-3x font-orange"></i>
      </div>
      <div class="col-md-9 col-xs-10">
        <p>Learn about startup ecosystem</p>
      </div>
    </div>

     <div class="col-md-6 col-xs-12 pbottom">
       <div class="col-md-2 col-xs-2">
         <i class="fa fa-binoculars fa-3x font-orange"></i>
      </div>
      <div class="col-md-9 col-xs-10">
         <p>Getting exposure on startup industry</p>
      </div>
    </div>

    <div class="col-md-6 col-xs-12 pbottom">
       <div class="col-md-2 col-xs-2">
        <i class="fa fa-handshake-o fa-3x font-orange"></i>
      </div>
      <div class="col-md-9 col-xs-10">
         <p>Mentorship from EV Hive team</p>
      </div>
    </div>

    <div class="col-md-6 col-xs-12 pbottom">
       <div class="col-md-2 col-xs-2">
        <i class="fa fa-diamond fa-3x font-orange"></i>
      </div>
      <div class="col-md-9 col-xs-10">
        <p>Soft skill training</p>
      </div>
    </div>
        
    <div class="col-md-6 col-xs-12 pbottom">
      <div class="col-md-2 col-xs-2">
         <i class="fa fa-snowflake-o fa-3x font-orange"></i>
      </div>
      <div class="col-md-9 col-xs-10">
         <p>Winter Camp*</p>
      </div>
    </div>
</section>

<section class="ptop pbottom bg-ambassador" id="student">
  <div class="container">
    <div class="row">
      <h3 class="text-center pbottom1 font-white">Want to be a our student ambassador?</h3>
      <p class="text-center pbottom1 font-white">Send us your CV and maximum of 500 words Essay with the Title of <strong>“Why should you be EV Hive Ambassador”</strong>, we will notice by email if you passes to our next selection.</p>
      <p class="text-center font-white"><a href="https://docs.google.com/a/evhive.co/forms/d/e/1FAIpQLSfim5cfAHA4hpr6g8wB_Y_dVK29UR2RjUnb8hhvtBaOpfMRCw/viewform" class="btn btn-transparent btn-lg">Be Student Ambassador</a></p>
      <p class="text-center font-white"><small>For further questions, you are welcome to contact Steven Giovanni Sugiarto <strong> (steven@evhive.co)<strong></small></p>
    </div>
  </div>
</section>