<%= content_for(:title, "#{@building.meta_title}" ) %>
<%= content_for(:meta_title,"#{@building.meta_title}") %>
<%= content_for(:meta_description, "#{@building.meta_description}" ) %>

<div class="container-full">
  <div class="owl-carousel owl-theme building-slider">
    <a href="<%= @building.image.url(:original)%>" data-lightbox="location">
      <div class="item" style="background-image:url('<%= @building.image.url(:original)%>')"></div>
    </a>
    <% if @building.banners.present? %>
      <% @building.banners.each do | banner | %>
        <a href="<%= banner.image.url(:original)%>" data-lightbox="location">
          <div class="item" style="background-image:url('<%= banner.image.url(:original)%>')"></div>
        </a>
      <% end %><!--end of banner-->
    <% end %>
  </div>
</div>

<div class="container loc">
  <div class="row">
    <div class="col-md-6 padding-section">
    <!--Form-->
      <div class="thumbnail location-form">
        <h3 class="title-header"><%= @building.name %> in <%= @building.location.name %> </h3>
        <p> <%= @building.address %> </p>
        <hr style="border-width:2px">
        <%= render 'enquiries/pform' %>
        <p class="text-center">or call <a href="tel:<%= @building.phone%>"><%= @building.phone%></a></p>
      </div>
    <!--end of form-->
    </div>

    <div class="col-md-6 padding-section">
      <!--Details starts-->
      <div class="row">
        <div class="col-md-12">
          <h4 class="title-header">Finding coworking space at <%= @building.name %></h4>
          <hr>
          <p>
            <%= @building.try(:description).html_safe %>
          </p>
        </div>
        
        <!--Plans Price-->
        <div class="col-md-12 ptop">
          <h4 class="title-header">What it will cost</h4>
          <hr>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Desks</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <% @plans.where.not(name: "Private Office").each do |plan| %>
                <tr class="active">
                  <td>
                    <p><%= plan.name %></p>
                    <small>per person</small>
                  </td>
                  <td><%= number_to_currency(plan.price, :unit => "IDR ") %></td>

                  <td>
                    <a href="https://portal.evhive.co/signup" class="btn btn1 plan-action" onclick = "ga('send','event','Click','Sign Up');">Sign Up</a>
                    <%# if user_signed_in? %>
                    <%# else %>
                      <%#= link_to 'Sign Up', new_user_registration_path(:plan => plan.name), :class => "btn btn1 plan-action" %>
                    <%# end %>
                  </td>
                </tr>
                <% end %>
                <% if @building.available == false %>
                <tr class="active">
                  <td>
                    <p>Coming Soon</p>
                  </td>
                  <td></td>
                </tr>
                <% end %>
              </tbody>
            </table>

            <table class="table">
              <thead>
                <tr>
                  <th>Private Office</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <% @plans.where(name: "Private Office").each do |pv| %>
                <tr class="active">
                  <td>
                    <p><%= pv.name %></p>
                    <small>Starting from</small>
                  </td>
                  <td><%= number_to_currency(pv.price, :unit => "IDR ") %></td>
                </tr>
                <% end %>
                <% if @building.available == false %>
                <tr class="active">
                  <td>
                    <p>Coming Soon</p>
                  </td>
                  <td></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div><!--End of plans price-->

        <!--Amenities starts-->
        <div class="col-md-12 ptop">
          <h4 class="title-header">Office Amenities</h4>
          <hr>
          <div class="row">
            <div class="col-md-6 col-xs-6 text-center">
              <img src="/assets/home/img/icon/high_speed_internet2.png" width="40" alt="High Speed Internet">
              <p>High Speed Internet</p>
            </div>
            <div class="col-md-6 col-xs-6 text-center">
              <img src="/assets/home/img/icon/office_printer.png" width="40" alt="Office Printers">
              <p>Office Printers</p>
            </div>
            <div class="col-md-6 col-xs-6 text-center">
              <img src="/assets/home/img/icon/office_refreshment.png" width="40" alt="Free Refreshments">
              <p>Free Refreshments</p>
            </div>
            <div class="col-md-6 col-xs-6 text-center">
              <img src="/assets/home/img/icon/attentive_staff.png" width="40" alt="Attentive Staff">
              <p>Attentive Staff</p>
            </div>
            <div class="col-md-6 col-xs-6 text-center">
              <img src="/assets/home/img/icon/cleaning_service" width="40" alt="Cleaning Service">
              <p>Cleaning Service</p>
            </div>
          </div>
        </div><!--end of amenities-->

        <!--Parking details starts-->
        <% if @building.parking_fee?%>
        <div class="col-md-12 ptop">
          <h4 class="title-header">Parking Details</h4>
          <hr>
          <p>
            <%= @building.try(:parking_fee).html_safe%>
          </p>
        </div><!--end of parking-->
        <% end %>
        
        <!--map starts-->
        <div class="col-md-12 ptop">
          <h4 class="title-header">Location</h4>
            <hr>
            <div>
              <iframe
                width="100%"
                height="250"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/search?key=AIzaSyBu1wtHV3mavPq9CMMOBgFzIg07JRWYQMw&q=<%= @building.try(:map) %>" allowfullscreen>
              </iframe>
            </div>
        </div>
        <!--map ends-->

        <!--360 starts-->
        <% if @building.spin_link? %>
        <div class="col-md-12 ptop">
          <h4 class="title-header">Virtual Tour</h4>
            <hr>
            <div>
              <iframe width="100%" height="400" src='<%= @building.spin_link%>'></iframe>
            </div>
        </div><!--360 ends-->
        <% end %>
      </div><!--end of details-->
      <%= javascript_include_tag 'application'%>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $(".owl-carousel").owlCarousel({
      autoPlay:5000,
      loop:true,
      animateOut:"fadeOut",
      margin:10,
      singleItem:true,
      navigation:true,
      navigationText:false
    });
  });
</script>

<script type="text/javascript">
  $(document).ready(function () {
    $(window).on("scroll",function(){
      var form = $(".location-form");
      var windowTop = $(window).scrollTop();
      var divTop = $(".loc").offset().top;
      var divBottom = $("footer").offset().top;
      var formHeight = $(".location-form").height();
      
      if($(window).width() > 991){
        if(windowTop > divTop){
        form.addClass("stick");
        }else{
          form.removeClass("stick");
        }
        if (windowTop > (divBottom-formHeight)-200) {
          form.addClass('bottom');
        } else {
            form.removeClass('bottom');
        }
      } 
    });

    $(".loc .padding-section").matchHeight(false);

  });
</script>
