<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Purchase Your Package</h4>
  </div>
  <div class="panel-body">

    <%= form_for @subscription, :html => { :class => "form-horizontal" } do |f| %>

      <% if @subscription.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@subscription.errors.count, "error") %> prohibited this plan from being saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
            <% @subscription.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        </div>
      <% end %>
      <input class="mival" value="<%= params[:plan] %>" style="display:none">
      <div class="form-group">
        <%= f.label :building, :class => 'control-label col-lg-2' %>
        <div class="col-lg-10">
          <%= f.collection_select :building_id, Building.all ,:id,:name,:class => 'form-control', :prompt => true %>
        </div>
        <%=f.error_span(:building_id) %>
      </div>
      <div class="form-group">
        <%= f.label :payment, :class => 'control-label col-lg-2' %>
        <div class="col-lg-10">
          <%= f.collection_select :payment_id, Payment.all ,:id,:name,:class => 'form-control' %>
        </div>
        <%=f.error_span(:payment_id) %>
      </div>
      <div class="form-group" id="ajax">
      </div>
      <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= f.submit nil, :class => 'btn btn-success btn-block' %>
      </div>
      </div>
    <% end %>
  </div>
</div>
