<p id="notice"><%= notice %></p>

<h1>Listing Promos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @promos.each do |promo| %>
      <tr>
        <td><%= promo.name %></td>
        <td><%= promo.description %></td>
        <td><%= promo.price %></td>
        <td><%= link_to 'Show', promo %></td>
        <td><%#= link_to 'Edit', edit_promo_path(promo) %></td>
        <td><%#= link_to 'Destroy', promo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Promo', new_promo_path %>
