<%= form_for [:managers,@plan], :html => { :multipart => true, :class => "form-horizontal" } do |f| %>

  <% if @plan.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @plan.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :description, :class => 'form-control', :id => 'plan_text' %>
    </div>
    <%=f.error_span(:description) %>
  </div>
  <div class="form-group">
    <%= f.label :price, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :price, :class => 'form-control' %>
    </div>
    <%=f.error_span(:price) %>
  </div>
  <div class="form-group">
    <%= f.label :building, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select :building_id, Building.all ,:id,:name, {:class => 'form-control'} %>
    </div>
    <%=f.error_span(:building_id) %>
  </div>
  <div class="form-group">
    <%= f.label "Jurnal Name", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :jurnal_name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:jurnal_name) %>
  </div>
  <div class="form-group">
    <%= f.label :quantity, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :quantity, :class => 'form-control' %>

    </div>
    <%=f.error_span(:quantity) %>
  </div>


  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                managers_plans_path, :class => 'btn btn-default' %>
    </div>
  </div>


<% end %>
<script type="text/javascript">
  $('#plan_text').wysihtml5();
</script>
