@import 'partials';

.gallery{
  .owl-pagination{
    position: static;
    bottom: 0;
    left: 0; 
    transform: translateX(0);
  }
  .item{
    margin: 10px;
    padding: 0;
  }
  
}

.sponsors{
  .owl-pagination{
    visibility: hidden;
  }
}

.lb-data {
  span.lb-caption{
    position: absolute;
    bottom: 10%;
    width: 60%;
    padding-left: 10px;
    color: white;
  }
  span.lb-number{
    visibility: hidden!important;
  }
}

@media screen and (max-width:768px) {
  .lb-data {
    span.lb-caption{
      position: absolute;
      bottom: 20%;
      width: 80%;
      padding-left: 10px;
      color: white;
    }
    
  }
}

