@import "partials";

footer{
  position: relative;
  p {
    color: #333;
  }

  a {
    color: #333;

    &:hover {
      color: $black;
      text-decoration: none;
    }
  }
  .container-fluid:first-child{
    padding:3% 0;
  }

}

.footer-nav {
  padding: 0;
  li {
    list-style: none;
    @extend .pbottom;
    //margin: 0 50px 3% 50px;
  }
}

.footer-nav-mobile{
  display: none;
}

.form-footer{
  input[type="text"]{
    width: 70%;
    border-radius: 0;
    float: left;
  }
  input[type="submit"]{
    width: 20%;
    float:left;
  }
}

@media (min-width:300px) and (max-width:768px){
  .footer-nav-mobile{
    display: block;
    text-align: center;
    ul{
      padding: 0;
      li{
        list-style: none;
        padding-top: 5%;
      }
    }
  }

  .footer-nav{
    display: none;
  }
  .sticky-foot{
    ul{
      text-align: center;
    }
  }
  .footerp{
    text-align: center;
  }
  .form-footer{
    padding: 0 5%;
    input[type="text"]{
      width: 100%;
      border-radius: 0;
      display: block;
    }
    input[type="submit"]{
      width: 100%;
      border-radius: 0;
      display: block;
    }
  }
}

//footer
//----------------------

/*footer {
  padding: 30px 0 100px;
  position: relative;

  p {
    color: #333;
  }

  a {
    color: #333;

    &:hover {
      color: $light-orange;
      text-decoration: none;
    }
  }

  .row {
    margin-bottom: 15px;
  }
}

.social-icons {
  margin-top: 20px;
}

.footer-nav {
  li {
    margin: 0 50px;
    text-transform: uppercase;
  }
}

.form-footer {
  input[type="text"] {
    width: 50%;
    border-radius: 0;
    float: left;
  }

  input[type="submit"] {
    width: 20%;
    float: left;
  }
  .social-icons {
    text-align: center;
  }

  .footerp {
    margin-top: 5vh;
  }
}*/
