@import "partials";

//navbar
//------
.phone-header{
  display: none;
}
.web-header{
  font-size: 15px;
  padding: 3px 0;
  color: white;
  background: #d0021b;
  margin-bottom:3px;
  a{
    color: white;
    text-decoration: underline;
  }
}
nav.navbar.navbar-default {
  height: 75px;
  // background: transparent;
}

//for mobile
 .navbar-header{
    height: 75px;
    button{
      margin-top:20px;
    }
  }
  .navbar.black{
    background-color: $black!important;
    transition: background 0.3s;
  }
  
//end

.navbar-default{
  background-color:rgba(0,0,0,0.5);
  border-color: transparent;
  transition: all 0.5s ease-in-out;
}


.navbar-nav{
  padding: 10px;
}

//set style each links
.navbar-default .navbar-nav>li>a{
  color: $white;
  text-transform: uppercase;
  &:hover{
    color: $light-green;
  }
  &:focus{
    color: $white;
  }
}

//set margin each li
.navbar-nav>li{
  margin-right:20px;
}

.navbar-default .navbar-nav > li.active > a{
  color: $light-green;
  background-color: transparent;
  &:hover{
    color: $light-green;
    background-color: transparent;
  }
 
}

.navbar-btn {
  display: block;
  height: 40px;
  margin-top: 5px;
  margin-left: 5px;
  padding-top: 9px !important;
  padding-bottom: 9px !important;
  margin-bottom: 5px;
}

@media only screen and (max-width:767px){
  .navbar-header{
    button{
      margin-top:11px;
    }
  }

  .web-header{
    padding: 0 3px;
  }
  
  .phone-header{
    display: block;
    font-size: 15px;
    background: $light-green;
    a{
      color: black;
    }
    
  }
  .navbar-collapse{
    background-color: #333;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .navbar-collapse{
    background-color: #333;
  }

  .navbar-header {
    float: none;
}
.navbar-left,.navbar-right {
    float: none !important;
}
.navbar-toggle {
    display: block;
}
.navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.navbar-collapse.collapse {
    display: none!important;
}
.navbar-nav {
    float: none!important;
    margin-top: 7.5px;
}
.navbar-nav>li {
    float: none;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.collapse.in{
    display:block !important;
}
.navbar-nav .open .dropdown-menu {
   position: static;
   float: none;
   width: auto;
   margin-top: 0;
   background-color: transparent;
   border: 0;
   -webkit-box-shadow: none;
   box-shadow: none;
}

}