// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "partials";

//social-button size
$size:40px;

.bg-blog{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/assets/home/img/all/blog.jpg');
}

//latest blog
.latest-blog{
  @extend .ptop;
  a{
    color: white!important;
    &:hover{
      text-decoration: none;
    }
  }
}

.blog-header{
  height: 60vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: all 0.2s ease-in-out;
  // background: linear-gradient(rgba(255,0,0, 0.75));
  .blog-header-text{
    width: 70%;
    color: white!important;
  }

  &:hover{
    opacity: 0.9;
  }

}
//end

.blogs{
  margin: 2% 0;

  a{
    color:#333;
    &:hover{
      color:#333;
      text-decoration: none;
    }
  }
}

.blog-card{
  position: relative;
  height: 300px;
  max-width: 100%;
  min-width: 300px;
  background-color: #f6f6f6;
  border:1px solid #ececec;
  // border-radius: 10px;
  &:hover{
    background-color: #fff;
  }
}

.blog-image{
  width: 100%;
  height: 70%;
  // border-top-left-radius: 10px;
  // border-top-right-radius: 10px;
}

.blog-banner{
  max-width: 100%;
  margin:3% 0;
}

//social-share-button
.social-share-button{
  position: fixed;
  left: 0;
  .ssb-twitter{
    background-image: url('/assets/home/img/social-button/twitter.svg')!important;
  }
  .ssb-linkedin{
    background-image:url('/assets/home/img/social-button/linkedin.svg')!important;
  }
  .ssb-facebook{
    background-image:url('/assets/home/img/social-button/facebook.svg')!important;
  }
  .ssb-icon{
    background-size: $size $size!important;
    height: $size!important;
    width: $size!important;
    display: block!important;
  }
}

.fb_iframe_widget span{
  vertical-align: baseline!important;
}

@media (min-width:300px) and (max-width:768px) {
  .latest-blog{
    margin-bottom: 3%;
  }

  .blog-header-text{
    width: 80%!important;
    color: white!important;
  }
   //social-share-button
  .social-share-button {
    position: static;
    .ssb-icon{
      display: inline-block!important;
    }
  }
}
