// Place all the styles related to the buildings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "partials";
// .img-wrapper{
//   position: relative;
//   overflow: hidden;
//   img{
//     position: absolute;
//     width: 100%;
//     height: auto;
//     transform: translateY(-50%);
//   }
// }


.loc{
  position: relative;
}

.bottom{
  position: absolute!important;
  bottom: 0;
  top: auto;
}
.fixed{
  position: fixed!important;
}

.thumbnail.card{
  border: none!important;
  .caption{
    color: $white;
    background: $black;
  }
  .action{
    a{
      width: 100%;
    }
  }
  .img-overlay{
    opacity: 0.8;
  }
  .buildings{
    padding: 0;
    img{
      width: 100%;
      position: relative;
    }

    a:hover{
      text-decoration: none;
    }
  }
}
.buildings{
  .caption .label{
    font-size: 14px;
    position: absolute;
    top: 5%;
  }
}

//slider
//location
.location-slider{
  position: relative;
  .item{
    display: block;
    height: 60vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
} 
.building-slider{
  position: relative;
  .item{
    height: 60vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.owl-pagination{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  .owl-page.active{
    span{
      background:$light-green!important;
    }
  }
}

.owl-buttons{
  display: none;
}
//end of slider

//locations
//-------------

.locations {
  .header {
    width: 70vw;
    margin: 0 auto;
    line-height: 7vh;
  }
}

.location.thumbnail {
  margin: 5vh auto 0;
  padding: 3vh;
  border-radius: 0;
  min-height: 450px;
  max-height: 450px;
}

.location-caption {
  padding: 3vh 0;

  .location-name {
    text-transform: uppercase;
    display: inline;
  }

  .location-action {
    float: right;
  }
}

/*Form Location starts here*/
.location-form {
  padding: 10px;
  position: absolute;
  top: 0;
  margin:5% 0;
  width: 400px;
  transition: .5s ease;
  // top:-15vh;
  border-radius: 0 !important;

  form {
    input {
      height: 50px;
      border-radius: 0;
    }
  }
}

.location-form.stick{
  position: fixed;
  width: 400px;
  top: 5%;
  padding: 10px;
}

.location-form.bottom{
  position: absolute;
  bottom: 0;
  top: auto;
  padding: 10px;
}


#mapx{
  position:static;
  max-width: 600px;
}
#mapid { 
  position: static;
  width: 100%;
  height: 100vh;
}

@media only screen and (max-width:991px){
  #mapid{
    display: none;
  }
  // location form
  .location-form{
    position: static;
    width: 100%;
  }

  .loc .padding-section{
    height: auto!important;
  }
  //end
  .buildings{
    height: auto!important;
    img{
      width: 100%;
      height: auto!important;
    }
    .caption{
      height: auto!important;
    }

  }
}

@media (min-width:300px) and (max-width:700px) {
  
  //location
  //------------------
  .locations {
    .header {
      width: 100%;
      margin: 5vw auto;
    }
  }
  .location.thumbnail {
    max-height: 100%;
  }

  .location-form {
    position: static;
  }
}
