// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'partials';

.well-danger{
  background-color: #d9534f;
}

.well-success{
  background-color: #5cb85c;
}

.well-primary{
  background-color: #2c3e50;
}

.well-default{
  background-color: $white;
}

@media (max-width:768px) {
  .dashboard-username{
    padding-top:10%;
  }
}