// Place all the styles related to the evhive_classes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "partials";
.classes{
  img{
    width: 100%;
  }
  a:hover{
    text-decoration: none;
  }
}

@media (min-width:300px) and (max-width:700px){
  .register{
  a{
    width: 100%;
  }
}
}
