// Place all the styles related to the plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "partials";

.bg-plan{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/assets/home/img/all/plan_header.jpg');
  @include bg-properties;
}

.clickable{
  cursor: pointer;
}

.plan-item{
  img{
    max-height: 170px;
    width: 100%;
  }
  .caption{
    padding: 0;
  }

}
.plan-desc{
  height: 265px;
  padding: 5%;
  ul{
    padding: 0;
    list-style-type: none;
  }
} 

.benefits{
  background-color: #333;
  height: 230px;
  padding: 0 0 5% 0;
  h4{
    border-top: 1px dashed $white;
    border-bottom: 1px dashed $white;
    padding:5%;
  }

  .benefit-detail{
    padding:0;
    margin: 0 10%;
  }
}

.amenities-list{
  border:1px solid $black;
  padding: 3%;
  .owl-carousel{
    .owl-pagination{
      position: static;
      bottom: 0;
      left: 0;
      transform: translateX(0);
    }
  }
  .item{
    img{
      width: auto;
    }
  }
  .amenities-mob{
    display: none;
  }
}

.plan-details{
  display: none;
  padding: 2%;
  color: $white;
}

@media screen and (min-width:300px) and (max-width:700px){
  .plan-item{
  img{
    width: 100%;
    height: auto;
  }
  .caption{
    padding: 0;
  }

}
  .plan-desc{
  height: auto;
  padding: 3%;;
} 

  .benefits{
    height: auto;
  }
  .amenities-list{
    border: none;
    .owl-carousel{
      display: none!important;
    }
    .amenities-mob{
      display: block;
    }
  }
}