<div class="container-fluid">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#eng" data-toggle="tab">English</a>
    </li>
    <li>
      <a href="#id" data-toggle="tab">Indonesia</a>
    </li>
    <li>
      <a href="#press" data-toggle="tab">Press Release</a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="eng" class="tab-pane fade in active">
      <table class="table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Title</th>
              <th><%=t '.actions', :default => t("helpers.actions") %></th>
            </tr>
          </thead>
          <tbody>
            <% @blogs.each do |blog| %>
              <tr>
                <td><%= link_to blog.id, managers_blog_path(blog) %></td>
                <td><%= blog.title %></td>
                <td>
                  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                              edit_managers_blog_path(blog), :class => 'btn btn-default btn-xs' %>
                  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                              managers_blog_path(blog),
                              :method => :delete,
                              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                              :class => 'btn btn-xs btn-danger' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to t('.new', :default => t("helpers.links.new")),
                    new_managers_blog_path,
                    :class => 'btn btn-success btn-block' %>
    </div><!--end of english blog-->

    <div id="id" class="tab-pane fade">
      <table class="table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Title</th>
              <th><%=t '.actions', :default => t("helpers.actions") %></th>
            </tr>
          </thead>
          <tbody>
            <% @blogs_id.each do |blog| %>
              <tr>
                <td><%= link_to blog.id, managers_blog_path(blog) %></td>
                <td><%= blog.title %></td>
                <td>
                  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                              edit_managers_blog_path(blog), :class => 'btn btn-default btn-xs' %>
                  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                              managers_blog_path(blog),
                              :method => :delete,
                              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                              :class => 'btn btn-xs btn-danger' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to t('.new', :default => t("helpers.links.new")),
                    new_managers_blog_path,
                    :class => 'btn btn-success btn-block' %>
    </div><!--end of bahasa blogs-->

    <div id="press" class="tab-pane fade">
      <table class="table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Title</th>
              <th><%=t '.actions', :default => t("helpers.actions") %></th>
            </tr>
          </thead>
          <tbody>
            <% @press.each do |blog| %>
              <tr>
                <td><%= link_to blog.id, managers_blog_path(blog) %></td>
                <td><%= blog.title %></td>
                <td>
                  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                              edit_managers_blog_path(blog), :class => 'btn btn-default btn-xs' %>
                  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                              managers_blog_path(blog),
                              :method => :delete,
                              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                              :class => 'btn btn-xs btn-danger' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to t('.new', :default => t("helpers.links.new")),
                    new_managers_blog_path,
                    :class => 'btn btn-success btn-block' %>
    </div><!--end of bahasa blogs-->
  </div>
</div>