<%= form_for @subscribe, :html => { :class => "form-footer" } do |f| %>

  <% if @subscribe.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@subscribe.errors.count, "error") %> prohibited this subscribe from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @subscribe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
    <%= f.email_field :email, :class => 'form-control', :placeholder => 'Your email address', :required => true%>
    <%=f.error_span(:email) %>
    <%= f.submit "Submit", :class => 'btn btn1' %>
<% end %>
