<%= content_for(:title, "Rent and Affordable Event Space in Jakarta – Indoor & Rooftop") %>
<section>
  <div class="container-fluid">
    <div class="row">
    <!--slider starts-->
      <div class="owl-carousel owl-theme building-slider">
        <a href="/assets/home/img/space/Event Space Murah Jakarta.jpg" data-lightbox="event-space">
          <div class="item" style="background-image:url('/assets/home/img/space/Event Space Murah Jakarta.jpg')">
          </div>
        </a>
        <a href="/assets/home/img/space/Event Space Murah Jakarta Selatan.jpg" data-lightbox="event-space">
          <div class="item" style="background-image:url('/assets/home/img/space/Event Space Murah Jakarta Selatan.jpg')"></div>
        </a>
        <a href="/assets/home/img/space/Event Space Rooftop Jakarta.jpg" data-lightbox="event-space">
          <div class="item" style="background-image:url('/assets/home/img/space/Event Space Rooftop Jakarta.jpg')"></div>
        </a>
        
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container loc">
    <div class="row">
        <div class="col-md-6 padding-section">
          <div class="thumbnail location-form">
            <h3 class="title-header">Event Space</h3>
            <hr style="border-width:2px">
            <%= render 'enquiries/eform' %>
            <div align="center">
              <p class="text-center">Or</p>
              <a href="tel:+62-8787-1111-880">Call/WA +62-8787-1111-880</a>
            </div>
            
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <h3>Rent an Affordable Indoor & Rooftop Event Space in Jakarta</h3>
              <p>EV Hive provides both an outdoor venue and indoor event venue where you could simply rent in a much affordable price. Here are the locations for all indoor and outdoor event spaces in Jakarta & Tangerang provided by EV Hive:</p>
              <ul>
                <li>Menteng, Central Jakarta - EV Hive D.Lab (Indoor)</li>
                <li>Pasar Baru, Central Jakarta - EV Hive Filateli (Indoor & Dance Studio)</li>
                <li>Kebayoran, South Jakarta - EV Hive The Maja (Indoor)</li>
                <li>SCBD, South Jakarta - EV Hive Satellite (Indoor)</li>
                <li>Kuningan, South Jakarta - JSC Hive (Indoor & Rooftop)</li>
                <li>Kuningan, South Jakarta - EV Hive City Plaza Kuningan (Indoor)</li>
                <li>Kuningan, South Jakarta - JENIUS X EV Hive Menara BTPN (Indoor)</li>
                <li>BSD City, Tangerang - EV Hive The Breeze</li>
              </ul>
              <p>Due to the strategic location in Jakarta and Tangerang, EV Hive Event Space has become preferable for all your events.</p>
            </div>
            <div class="col-md-12">
              <h3>Indoor and Outdoor Event Venue Rent Price</h3>
              <p>In EV Hive Coworking Space, you could rent an event space with an affordable price and preferable location, the price to rent that venue ranges from</p>
              <ul>
                <li>Rp 300.000 / hour (weekdays) (Dance Studio @ EV Hive Filateli)</li>
                <li>Rp 1.000.000 / hour (weekdays) (Plaza Kuningan, DLab, JSC, Filateli)</li>
                <li>Rp 1.200.000 / 4 hours (weekends) (Dance Studio @ EV Hive Filateli)</li>
                <li>Rp 1.500.000 / hour (weekdays) (BTPN)</li>
                <li>Rp 1.500.000 / hour (weekends, minimum of 3 hours rent) (JSC & DLab)</li>
                <li>Rp 2.000.000 / hour (weekends) (Plaza Kuningan & Filateli)</li>
              </ul>
              <p>These event venues are perfect for you who wants to create an event in Jakarta, if you want to create a casual outdoor event, you can rent the outdoor venue. If you want to create a networking, seminars, workshops, you could simply rent the indoor venue. These affordable event spaces are already provided by EV Hive.</p>
            </div>

            <div class="col-md-12">
              <h3>Why Choose EV Hive as Your Event Space?</h3>
              <p>There are a lot of things you could get by renting our event venue, other than the affordable price and strategic location, you would also get several facilities at your disposal, such as:</p>
              <ul>
                <li>High Speed Internet Access</li>
                <li>Screen Projector</li>
                <li>HDMI Cable</li>
                <li>Sound System</li>
                <li>Lively yet classy vibes</li>
                <li>Warm Environment</li>
              </ul>
              <p>From all the reasons above, the event space provided by EV Hive is suitable for you wants to create a seminar, talk show, workshop, networking events, and other events in Jakarta.</p>              
            </div>

            <div class="col-md-12">
              <h3>Book & Rent an Event Space at EV Hive</h3>
              <p>You could simply follow these steps to quickly book and rent an event space:</p>
              <ul>
                <li>Booking via phone / whatsapp at +62-8787-1111-880 or email to info@evhive.co</li>
                <li>Choose the available date</li>
                <li>Do the payment and confirmation</li>
              </ul>
            </div>

            </div>
          </div>
          <%= javascript_include_tag 'application'%>
         
        </div>
    </div>
  </div>
</section>


<script type="text/javascript">
  $(document).ready(function(){
    $(".owl-carousel").owlCarousel({
      autoPlay:5000,
      loop:true,
      animateOut:"fadeOut",
      margin:10,
      singleItem:true,
      navigation:true,
      navigationText:false
    });
  });
</script>

<script type="text/javascript">
  $(document).ready(function () {
    $(window).on("scroll",function(){
      var form = $(".location-form");
      var windowTop = $(window).scrollTop();
      var divTop = $(".loc").offset().top;
      var divBottom = $("footer").offset().top;
      var formHeight = $(".location-form").height();
      if($(window).width() > 991){
        if(windowTop > divTop){
        form.addClass("stick");
        }else{
          form.removeClass("stick");
        }
        if (windowTop > (divBottom-formHeight)) {
          form.addClass('bottom');
        } else {
            form.removeClass('bottom');
        }
      } 
    });

    $(".loc .padding-section").matchHeight(false);

  });
</script>