<%= content_for(:title, "EV Hive | Explore the most flexible plans for you") %>
<section>
  <div class="jumbo-small bg-plan"></div>
</section>

<div class="container-fluid">
  <img src="/assets/home/img/header/Plans.png" alt="" style="width:100%">
</div>
<div class="container">
  <div class="row">
    <!--plan starts-->
    <div class="col-md-3 col-xs-12">
        <div class="thumbnail card plan-item">
          <img src="/assets/home/img/all/daily_pass.jpg" height="170" alt="">
          <div class="caption">
            <div class="plan-desc">
              <h3 class="title-header font-blue">Daily Pass</h3>
              <ul>
                <li><small>IDR 50.000/day</small></li>
                <li><small>Starting at 9AM everyday</small></li>
              </ul>
              
              <p><hr class="line-left"></p>
              <p class="psmall text-justify">Suitable for digital nomads and travellers who are looking to use a workspace or conduct meetings for just 1 day.</p>
            </div>
            <div class="benefits">
              <h4 class="title-header">Benefits</h4>
              <ul class="benefit-detail">
                <li>
                  <small><i>Free Wifi Internet</i></small> 
                </li>
                <li>
                  <small><i>Free Flow Beverages</i></small>
                </li>
              </ul>
            </div>
          </div>
          
          <div class="action">
            <!--<button type="button" class="btn btn1 btn-lg plan-action" data-toggle="modal" data-target="#myModal" onclick = "ga('send','event','Click','Book Now');">Book Now</button>-->
            <a href="https://evhive.co/enquiry" class="btn btn1 btn-lg plan-action" onclick = "ga('send','event','Click','Book Now');">Book Now</a>
            <%# if user_signed_in? %>
              <%# if current_user.subscriptions.joins(:plan).where('plans.name = ? and subscriptions.created_at < ?', 'Daily Pass', Date.today).count == 1 %>
                <%#= link_to 'purchase', new_subscription_path(:plan => "Daily Pass"), :class => "btn btn1 btn-lg plan-action" %>
              <%# else %>
                <%#= link_to 'purchase', new_subscription_path(:plan => "Daily Pass"), :class => "btn btn1 btn-lg plan-action" %>
              <%# end %>
            <%# else %>
              <%#= link_to "sign up", new_user_registration_path(:plan => "Daily Pass"), :class => "btn btn1 btn-lg plan-action" %>
            <%# end %>
          </div>
        </div>
      </div>

    <!--end of plan-->

    <!--plan starts-->
     <div class="col-md-3 col-xs-12">
        <div class="thumbnail card plan-item">
          <img src="/assets/home/img/all/flexi_desk.jpg" height="170" alt="">
          <div class="caption">
            <div class="plan-desc">
              <h3 class="title-header font-blue">Flexi Desk</h3>
              <ul>
                <li><small>Starting from IDR 1.000.000/month</small></li>
                <li><small>Starting at 9AM everyday</small></li>
              </ul>
              <hr class="line-left">
              <p class="psmall text-justify">
                Suitable for teams who are working on a short term project or new startup idea, and want
                the flexibility of working at all of EV Hive's locations.
              </p>
            </div>
            <div class="benefits">
              <h4 class="title-header">Benefits</h4>
              <ul class="benefit-detail">
                <li>
                  <small><i>Free Wifi Internet</i></small> 
                </li>
                <li>
                  <small><i>Free Coffee</i></small>
                </li>
                <li>
                  <small><i>Free access to all EV Hive's locations for the month</i></small>
                </li>
                <li>
                  <small><i>Access to free events and networking session</i></small>
                </li>
              </ul>
            </div>
          </div>
          
          <div class="action">
            <!--<button type="button" class="btn btn1 btn-lg plan-action" data-toggle="modal" data-target="#myModal" onclick = "ga('send','event','Click','Book Now');">Book Now</button>-->
            <a href="https://evhive.co/enquiry" class="btn btn1 btn-lg plan-action" onclick = "ga('send','event','Click','Book Now');">Book Now</a>
            <%# if user_signed_in? %>
              <!--if flexi desk expired-->
              <%# if current_user.subscriptions.joins(:plan).where('plans.name = ? and subscriptions.created_at between ? and ?', 'Flexi Desk', Date.today - 1.months , Date.today).count == 0 %>
                <%#= link_to 'purchase', new_subscription_path(:plan => "Flexi Desk"), :class => "btn btn1 btn-lg plan-action" %>
              <%# elsif current_user.subscriptions.empty? %>
                <%#= link_to 'purchase', new_subscription_path(:plan => "Flexi Desk"), :class => "btn btn1 btn-lg plan-action" %>
              <%# end %>
              <!--if flexi not purchase yet(unused)-->
              <%# if current_user.subscriptions.empty? %>
                <%#= link_to 'purchase', new_subscription_path(:plan => "Flexi Desk"), :class => "btn btn1 btn-lg plan-action" %>
              <%# else %>

              <%# end %>
              <!--end of unused-->
            <%# else %>
              <%#= link_to 'Sign Up', new_user_registration_path(:plan => "Flexi Desk"), :class => "btn btn1 btn-lg plan-action" %>
            <%# end %>
          </div>
        </div>
      </div>
    <!--end of plan-->

    <!--plan starts-->
    <div class="col-md-3 col-xs-12">
        <div class="thumbnail card plan-item">
          <img src="/assets/home/img/all/dedicated_desk.jpg" height="170" alt="">
          <div class="caption">
            <div class="plan-desc">
              <h3 class="title-header font-blue">Dedicated Desk</h3>
              <ul>
                <li><small>Starting from IDR 2.000.000/month</small></li>
                <li><small>Starting at 9AM everyday</small></li>
              </ul>
              <hr class="line-left">
              <p class="psmall text-justify">
                Suitable for 1-10 teams who are starting out their businesses and looking for
                permanent desk locations to place their computer monitors and printers, and lockers for their filing needs.
              </p>
            </div>
            <div class="benefits">
              <h4 class="title-header">Benefits</h4>
              <ul class="benefit-detail">
                <li>
                  <small><i>Free Wifi Internet</i></small> 
                </li>
                <li>
                  <small><i>Free Coffee</i></small>
                </li>
                <li>
                  <small><i>Free locker storage</i></small>
                </li>
                <li>
                  <small><i>Free monthly meeting room credits</i></small>
                </li>
                <li>
                  <small><i>Free printing credits</i></small>
                </li>
                <li>
                  <small><i>Access to free events and networking session</i></small>
                </li>
              </ul>
            </div>
          </div>
          
          <div class="action">
            <!--<button type="button" class="btn btn1 btn-lg plan-action" data-toggle="modal" data-target="#myModal" onclick = "ga('send','event','Click','Book Now');">Book Now</button>-->
            <a href="https://evhive.co/enquiry" class="btn btn1 btn-lg plan-action" onclick = "ga('send','event','Click','Book Now');">Book Now</a>
            <%# if user_signed_in? %>
              <!--if dedicated desk expired-->
              <%# if current_user.subscriptions.joins(:plan).where('plans.name = ? and subscriptions.created_at between ? and ?', 'Dedicated Desk', Date.today - 1.months , Date.today).count == 0 %>
                <%#= link_to 'purchase', new_subscription_path(:plan => "Dedicated Desk"), :class => "btn btn1 btn-lg plan-action" %>
              <%# elsif %>
                <%#= link_to 'purchase', new_subscription_path(:plan => "Dedicated Desk"), :class => "btn btn1 btn-lg plan-action" %>
              <%# end %>
              <!--if dedicated desk not purchased yet-->
                <!--unused-->
              <%# if current_user.subscriptions.empty? %>
                <%#= link_to 'purchase', new_subscription_path(:plan => "Dedicated Desk"), :class => "btn btn1 btn-lg plan-action" %>
              <%# else %>

              <%# end %>
              <!-- end of unused-->

            <%# else %>
              <%#= link_to 'Sign Up', new_user_registration_path(:plan => "Dedicated Desk"), :class => "btn btn1 btn-lg plan-action" %>
            <%# end %>
          </div>
        </div>
      </div>

    <!--end of plan-->

    <!--plan starts-->
    <div class="col-md-3 col-xs-12">
        <div class="thumbnail card plan-item">
          <img src="/assets/home/img/all/private_office.jpg" height="170" alt="">
          <div class="caption">
            <div class="plan-desc">
              <h3 class="title-header font-blue">Private Office</h3>
              <ul>
                <li><small>Starting from IDR 4.000.000/month</small></li>
                <li><small>Starting at 9AM everyday</small></li>
              </ul>
              <hr class="line-left">
              <p class="psmall text-justify">
                Suitable for big teams who want the privacy of dedicated office, and the community value of networking with other members within the same property.
              </p>
            </div>
            <div class="benefits">
              <h4 class="title-header">Benefits</h4>
              <ul class="benefit-detail">
                <li>
                  <small><i>Free Wifi Internet</i></small> 
                </li>
                <li>
                  <small><i>Free Coffee</i></small>
                </li>
                <li>
                  <small><i>Free monthly meeting room credits</i></small>
                </li>
                <li>
                  <small><i>Free monthly event space booking credits</i></small>
                </li>
                <li>
                  <small><i>Free printing credits</i></small>
                </li>
                <li>
                  <small><i>Access to free events and networking session</i></small>
                </li>
              </ul>
            </div>
          </div>
          
          <div class="action">
            <!--<button type="button" class="btn btn1 btn-lg plan-action" data-toggle="modal" data-target="#myModal" onclick = "ga('send','event','Click','Book Now');">Book Now</button>-->
            <a href="https://evhive.co/enquiry" class="btn btn1 btn-lg plan-action" onclick = "ga('send','event','Click','Book Now');">Book Now</a>
            <%# if user_signed_in? %>
            <!--button type="button" class="btn btn1 btn-lg plan-action" data-toggle="modal" data-target="#myModal">Upgrade</button-->

            <%# else %>
              <!--button type="button" class="btn btn1 btn-lg plan-action" data-toggle="modal" data-target="#myModal">Sign Up</button-->
            <%# end %>
          </div>
        </div>
      </div>

    <!--end of plan-->
  </div><!--end of row-->
</div><!--end of container-->

<section>
  <div class="container-fluid">
    <img src="/assets/home/img/header/Amenities.png" style="width:100%;">
  </div>
  <div class="container">
    <div class="row pbottom">
      <div class="amenities-list ptop">
        <!--desktop version-->
        <div class="owl-carousel owl-theme">
          <div class="item">
            <p class="text-center"><img src="/assets/home/img/icon/high_speed_internet.png" height="65" alt=""></p>
            <h5 class="text-center">High Speed Internet</h5>
          </div>
          <div class="item">
            <p class="text-center"><img src="/assets/home/img/icon/beautiful_workspace.png" height="65" alt=""></p>
            <h5 class="text-center">Beautiful Workspace</h5>
          </div>
          <div class="item">
            <p class="text-center"><img src="/assets/home/img/icon/mailing_address.png" height="65" alt=""></p>
            <h5 class="text-center">Mailing Address</h5>
          </div>
          <div class="item">
            <p class="text-center"><img src="/assets/home/img/icon/free_flow_coffee.png" height="65" alt=""></p>
            <h5 class="text-center">Free Flow Coffee</h5>
          </div>
          <div class="item">
            <p class="text-center"><img src="/assets/home/img/icon/storage_space.png" height="65" alt=""></p>
            <h5 class="text-center">Storage Space</h5>
          </div>
          <div class="item">
            <p class="text-center"><img src="/assets/home/img/icon/weekly_events.png" height="65" alt=""></p>
            <h5 class="text-center">Weekly Events</h5>
          </div>
        </div>

        <!--mobile version-->
        <div class="amenities-mob">
          <div class="col-xs-6 pbottom">
            <p class="text-center"><img src="/assets/home/img/icon/high_speed_internet.png" height="40" alt=""></p>
            <h5 class="text-center">High Speed Internet</h5>
          </div>
          <div class="col-xs-6 pbottom">
            <p class="text-center"><img src="/assets/home/img/icon/beautiful_workspace.png" height="40" alt=""></p>
            <h5 class="text-center">Beautiful Workspace</h5>
          </div>
          <div class="col-xs-6 pbottom">
            <p class="text-center"><img src="/assets/home/img/icon/mailing_address.png" height="40" alt=""></p>
            <h5 class="text-center">Mailing Address</h5>
          </div>
          <div class="col-xs-6 pbottom">
            <p class="text-center"><img src="/assets/home/img/icon/free_flow_coffee.png" height="40" alt=""></p>
            <h5 class="text-center">Free Flow Coffee</h5>
          </div>
          <div class="col-xs-6 pbottom">
            <p class="text-center"><img src="/assets/home/img/icon/storage_space.png" height="40" alt=""></p>
            <h5 class="text-center">Storage Space</h5>
          </div>
          <div class="col-xs-6 pbottom">
            <p class="text-center"><img src="/assets/home/img/icon/weekly_events.png" height="40" alt=""></p>
            <h5 class="text-center">Weekly Events</h5>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>

<section>
  <div class="container-fluid">
    <div class="row">
    <!--Meeting Room Plan-->
    <%= link_to (meeting_room_path) do%>
      <div class="col-md-6 col-xs-12 no-gutter plan">
        <img src="/assets/home/img/all/meeting_room.jpg" width="100%" height="300" alt="">
        <div class="overlay-item">
          <div class="bottom-left plan-name">
            <h3 class="overlay-text title-header">Meeting Room</h3>
            <hr class="line-left">
          </div>
          <div class="plan-details">
            <h3>Meeting Room</h3>
            <hr class="line-left">
            <p>Suitable for you to book a comfortable and strategic meeting room ASAP</p>
            <p>Starting at <strong>IDR 200.000/hour on weekdays & IDR 300.000/hour on weekend.</strong></p>
            <p>Starting at <strong>at 9 am Every Day.</strong></p>
            <ul>
              <li>
                <small>Access to High-speed Wireless Internet</small>
              </li>
              <li>
                <small>One set of whiteboard, marker, and eraser.</small>
              </li>
              <li>
                <small>One set of 42 inch TV with HDMI Cable.</small>
              </li>
              <li>
                <small>Extra charge for more than 8 people (IDR 25.000/person/hour).</small>
              </li>
            </ul>
          </div>  
        </div>
      </div>
      <% end %>

      <!--Event Space Plan-->
      <%= link_to(event_space_path) do%>
      <!--<a data-toggle="modal" data-target="#myModal" class="clickable">-->
      <div class="col-md-6 col-xs-12 no-gutter plan">
        <img src="/assets/home/img/all/event_space.jpg" width="100%" height="300" alt="">
        <div class="overlay-item">
        <!--Plan Name-->
          <div class="bottom-right plan-name">
            <h3 class="overlay-text title-header text-right">Event Space</h3>
            <hr class="line-right">
          </div>

          <!--Plan Details-->
          <div class="plan-details">
            <h3 class="text-right">Event Space</h3>
            <hr class="line-right">
            <p class="text-right">Perfect for entrepreneurs who wants to hold big meetings, small event, workshop or classes.</p>
            <p class="text-right">Starting at <strong>IDR 1.000.000 less than 6PM & IDR 1.250.000 above 6PM on weekdays.</strong></p>
            <p class="text-right">Starting at <strong>IDR 1.500.000 (minimum 3 hours) on weekend.</strong></p>
            <ul class="text-right" style="list-style-position:inside">
              <li>
                <small>Access to High-speed Wireless Internet</small>
              </li>
              <li>
                <small>One set of sound system(including 2 mics)</small>
              </li>
              <li>
                <small>Projector, screen, and HDMI Cable</small>
              </li>
            </ul>
          </div>
          <!--Plan Details end-->    
        </div>
      </div>
      <!--</a>-->
      <% end %>

    <!--Creative Studio Plan-->
    <%= link_to (creative_studio_path) do%>
      <div class="col-md-6 col-xs-12 no-gutter plan">
        <img src="/assets/home/img/studio/Creative Studio di Jakarta.jpg" width="100%" height="300" alt="Creative Studio di Jakarta">
        <div class="overlay-item">
          <div class="bottom-left plan-name">
            <h3 class="overlay-text title-header">Creative Studio & Space</h3>
            <hr class="line-left">
          </div>
          <div class="plan-details">
            <h3>Creative Studio & Space</h3>
            <hr class="line-left">
            <p>Affordable Creative Studio in Jakarta also provides a bunch of things you could use to nurture your creative mind</p>
            <ul>
              <li>
                <small>2 Continous Light (Godox)</small>
              </li>
              <li>
                <small>Ring Light</small>
              </li>
              <li>
                <small>Manfrotto Monopod</small>
              </li>
              <li>
                <small>Background Color Papers</small>
              </li>
              <li>
                <small>Reflectors and Diffusers</small>
              </li>
            </ul>
          </div>  
        </div>
      </div>
      <% end %>
      <!--end-->
    </div>
  </div>
</section>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Contact Us</h4>
      </div>
      <div class="modal-body">
        <%= render 'enquiries/form' %>
      </div>
    </div>

  </div>
</div>

<script>
  $(document).ready(function(){
    $(".owl-carousel").owlCarousel({
      autoPlay:5000,
      items:6,
      navigation:false,
    });

    if($(window).width() > 767){
      $(".plan").hover(function(){
      $(this).find(".plan-name").fadeOut();
      $(this).find(".plan-details").fadeIn();
    },function(){
      $(this).find(".plan-name").fadeIn();
      $(this).find(".plan-details").fadeOut();
    });
    }
    


  });
</script>
