<%= content_for(:title, "Rent a Strategic & Affordable Meeting Room in Jakarta") %>
<section>
  <div class="container-fluid">
    <div class="row">
    <!--slider starts-->
      <div class="owl-carousel owl-theme building-slider">
        <a href="/assets/home/img/meeting/Meeting Room Murah Jakarta Pusat.jpg" data-lightbox="studio">
          <div class="item" style="background-image:url('/assets/home/img/meeting/Meeting Room Murah Jakarta Pusat.jpg')">
          </div>
        </a>
        <a href="/assets/home/img/meeting/Meeting Room Murah Jakarta Selatan.jpg" data-lightbox="studio">
          <div class="item" style="background-image:url('/assets/home/img/meeting/Meeting Room Murah Jakarta Selatan.jpg')"></div>
        </a>
        <a href="/assets/home/img/meeting/Meeting Room Murah Kuningan.jpg" data-lightbox="studio">
          <div class="item" style="background-image:url('/assets/home/img/meeting/Meeting Room Murah Kuningan.jpg')"></div>
        </a>
        <a href="/assets/home/img/meeting/Meeting Room Murah Menteng Jakarta.jpg" data-lightbox="studio">
          <div class="item" style="background-image:url('/assets/home/img/meeting/Meeting Room Murah Menteng Jakarta.jpg')"></div>
        </a>
        <a href="/assets/home/img/meeting/Meeting Room Murah SCBD.jpg" data-lightbox="studio">
          <div class="item" style="background-image:url('/assets/home/img/meeting/Meeting Room Murah SCBD.jpg')"></div>
        </a>
        
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
        <div class="col-md-6">
          <div class="thumbnail location-form">
            <h3 class="title-header">Meeting Room</h3>
            <hr style="border-width:2px">
            <%= render 'enquiries/mform' %>
            <!--booking button-->
            <div align="center">
            <!--<a href="https://evhive.officernd.com" class="btn btn1 btn-block", onclick = "ga('send','event','Click','Book Now');">Book Now</a>-->
            <p>Or</p>
            <a href="tel:+62-8787-1111-880">Call/WA +62-8787-1111-880</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">

            <div class="col-md-12">
              <h3>Affordable & Strategic Meeting Room in Jakarta</h3>
              <p>EV Hive provides meeting rooms with an affordable price in Jakarta. Not only is it cheap & affordable, EV Hive has several strategic meeting venues around Jakarta & Tangerang.</p>
              <p>EV Hive meeting locations in Jakarta:
              <ul>
                <li>Sudirman (EV Hive Tower, IFC Building)</li>
                <li>Kebayoran Baru (EV Hive The Maja)</li>
                <li>Prof. Dr.Satrio, Kuningan (JSC Hive)</li>
                <li>H.R Rasuna Said, Plaza Kuningan (EV Hive City)</li>
                <li>SCBD (EV Hive Satellite)</li>
                <li>Menteng (EV Hive D.Lab)</li>
                <li>BSD City, Tangerang (EV Hive The Breeze)</li>
              </ul>
              <p>Meeting Room price:</p>
              <ul>
                <li>Rp 200,000/hour on weekdays (Monday - Friday)</li>
                <li>Rp 300,000/hour on weekends (Saturday - Sunday)</li>
              </ul>
              <p>If you’re looking for the nearest meeting venues with the best price in Jakarta, then choosing EV Hive Coworking Space’s meeting room is suitable for you!</p>
            </div>

            <div class="col-md-12">
              <h3>Why choose EV Hive as your meeting room in Jakarta & Tangerang?</h3>
              <p>You would not only get a strategic location as your meeting venue, you would not only get the affordable price, but you would also get the ambiance and vibes you couldn’t find anywhere else when you have a meeting. Other than that, there are several meeting room facilities at your disposal, such as:</p>
              <ul>
                <li>High Speed Internet Access</li>
                <li>LCD Screen</li>
                <li>HDMI Cable</li>
                <li>Whiteboard</li>
                <li>Mineral Water</li>
              </ul>
              <p>Booking a meeting room in Jakarta & Tangerang has never been easier as you could simply follow these steps:</p>
              <ul>
                <li>Booking via phone / whatsapp at +62-8787-1111-880 or email to info@evhive.co</li>
                <li>Choose the available date</li>
                <li>Do the payment and confirmation</li>
              </ul>
            </div>

            </div>
          </div>
          <%= javascript_include_tag 'application'%>

        </div>
    </div>
  </div>
</section>


<script type="text/javascript">
  $(document).ready(function(){
    $(".owl-carousel").owlCarousel({
      autoPlay:5000,
      loop:true,
      animateOut:"fadeOut",
      margin:10,
      singleItem:true,
      navigation:true,
      navigationText:false
    });
  });
</script>

<script type="text/javascript">
  $(document).ready(function () {
    $(window).on("scroll",function(){
      var form = $(".location-form");
      var windowTop = $(window).scrollTop();
      var divTop = $(".loc").offset().top;
      var divBottom = $("footer").offset().top;
      var formHeight = $(".location-form").height();
      
      if($(window).width() > 991){
        if(windowTop > divTop){
        form.addClass("stick");
        }else{
          form.removeClass("stick");
        }
        if (windowTop > (divBottom-formHeight)-200) {
          form.addClass('bottom');
        } else {
            form.removeClass('bottom');
        }
      } 
    });


  });
</script>