<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png" />
	<link rel="icon" type="image/png" href="../assets/img/favicon.png" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<%= javascript_include_tag 'manager' %>
	<%= stylesheet_link_tag    'manager', media: 'all' %>

  <%= csrf_meta_tags %>
	<title>EV Hive | Administrator area</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="/assets/admin/css/bootstrap.min.css" rel="stylesheet" />

    <!--  Material Dashboard CSS    -->
    <link href="/assets/admin/css/material-dashboard.css" rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/assets/admin/css/demo.css" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
</head>

<body>

	<div class="wrapper">
    <%= render 'parts/msidebar' %>

	    <div class="main-panel">
        <%= render 'parts/mheader' %>
	        <div class="content">
	            <div class="container-fluid">
	                <div class="row">
										<% if notice %>
										  <div class="container">
										    <div class="alert alert-warning">
										      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
										      <strong> ! </strong><%= notice %>
										    </div>
										  </div>
										<% end %>
										 <% if alert %>
										   <div class="container-fluid">
										    <div class="alert alert-danger">
										      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
										      <strong> ! </strong><%= alert %>
										    </div>
										  </div>
										 <% end %>
                    <%= yield %>
	                </div>
	            </div>
	        </div>
        <%= render 'parts/mfooter' %>
	    </div>
	</div>

</body>

	<!--   Core JS Files   -->
	<!-- <script src="/assets/admin/js/jquery-3.1.0.min.js" type="text/javascript"></script> -->
	<script src="/assets/admin/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/assets/admin/js/material.min.js" type="text/javascript"></script>

	<!--  Charts Plugin -->
	<script src="/assets/admin/js/chartist.min.js"></script>

	<!--  Notifications Plugin    -->
	<script src="/assets/admin/js/bootstrap-notify.js"></script>

	<!--  Google Maps Plugin    -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

	<!-- Material Dashboard javascript methods -->
	<script src="/assets/admin/js/material-dashboard.js"></script>

	<!-- Material Dashboard DEMO methods, don't include it in your project! -->
	<script src="/assets/admin/js/demo.js"></script>


</html>
