<div class="container-fluid">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#unpaid">Unpaid</a></li>
        <li><a data-toggle="tab" href="#paid">Paid</a></li>
    		<li><a data-toggle="tab" href="#next_month">Next Month</a></li>
      </ul>

      <div class="tab-content">
        <div id="unpaid" class="tab-pane fade in active">
          <div class="panel panel-success">
            <div class="panel-heading">
              <p>Unpaid Invoices</p>
            </div>
            <div class="panel-body">
              <table class="table">
                <tr>
                  <th>id</th>
                  <th>Fullname</th>
                  <th>Package</th>
                  <th>Payment method</th>
                  <th>Due date</th>
                  <th>action</th>
                </tr>
              <% @subscriptions.each do |subs| %>
              <tr>
                <td> <%= link_to subs.id, managers_report_path(subs) %> </td>
                <td> <%= subs.user.fullname %> </td>
                <td> <%= subs.plan.name %> </td>
                <td> <%= subs.payment.name %> </td>
                <td> <%= (subs.created_at + 5.days).strftime("%d-%m-%Y") %> </td>
                <td><%= link_to 'PAID', managers_set_paid_path(subs), :data => {:confirm => 'Set status to paid?'}, :class => "btn btn-success btn-xs" %>
                  <%= link_to 'DELETE', managers_set_destroy_path(subs), :data => {:confirm => 'Delete this transaction?'}, :class => "btn btn-danger btn-xs" %>
                </td>

              </tr>
              <% end %>
            </table>
            </div>
          </div>

        </div>
        <div id="paid" class="tab-pane fade">
          <div class="panel panel-success">
            <div class="panel-heading">
              <p>Paid Invoices</p>
            </div>
            <div class="panel-body">
              <table class="table">
                <tr>
                  <th>id</th>
                  <th>Fullname</th>
                  <th>Package</th>
                  <th>Payment method</th>
                  <th>Due date</th>
                  <th>action</th>
                </tr>
              <% @psubs.each do |subs| %>
              <tr>
                <td> <%= link_to subs.id, managers_report_path(subs) %> </td>
                <td> <%= subs.user.fullname %> </td>
                <td> <%= subs.plan.name %> </td>
                <td> <%= subs.payment.name %> </td>
                <td> <%= (subs.created_at + 5.days).strftime("%d-%m-%Y") %> </td>
                <td>
                  <%= link_to 'DELETE', managers_set_destroy_path(subs), :data => {:confirm => 'Delete this transaction?'}, :class => "btn btn-danger btn-xs" %>
                </td>

              </tr>
              <% end %>
            </table>
            </div>
          </div>
        </div>

    		<div id="next_month" class="tab-pane fade">
    		  <h3>next month</h3>
    		  <!-- paginate script-->
    		</div>

      </div>

</div>
